header, footer, article, section, nav, menu, hgroup, aside {  
   display: block; 
}

* { margin:0; padding:0; }

body, html {
    font-family: 'Lucida Grande', Helvetica, Arial;/*Arial, Helvetica, sans-serif;*/
    font-size: 12px;
    min-height: 100% !important;
    height: 100%;
    color: #333;
    /*background: url(images/body_bg.png) repeat-x;
    overflow-x: hidden;*/
}

a {
    color: #333;
    text-decoration: none;
}

a:hover, a:focus {
    color: #333;
}

.clr{
    clear: both;
}

.form{
    margin: 10px auto;
}
.buttons {
    width: 50%;
    margin: 30px auto;
    text-align: center;
}

.title{
    font-size: 20px;
    font-weight: bold;
    padding: 0;
    padding-right: 120px;
    line-height: 35px;
}

.title:first-letter, #menu a:first-letter, 
.map_category  a:first-letter, .map_article a:first-letter {
    text-transform: uppercase;
}

.logo_edit{
    text-align: center;
}

.logo_edit img{
    max-width: 100px;
    max-height: 100px;
}

article .content {
    margin-bottom: 40px;
}

article .content img, .cat_descr img{
    max-height: 300px;
    max-width: 900px;
}

article .article_logo_full img{
    max-width: 100px;
    max-height: 100px;
    float: right;
}

a .article_logo_wrap{
    width: 40px;
    height: 40px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

a .text{
    height: 40px;
}

a .article_logo{
    max-width: 40px;
    max-height: 40px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    border: none;
}

.article-info{
   margin-bottom: 20px;
   text-align: right;
   margin-right: 130px;
}

.article-info small{
    color: #999;
    margin-right: 15px;
}

.cke_reset{
    margin: 0 auto !important;
}

.last_by_cats{
    margin: 10px auto;
    width: 100%;
}

.last_by_cats .main_cats{
    background: #F8F8F8;
    width: 48%;
    /*margin: 5px;*/
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#main_categoies{
    position: relative;
}

.last_by_cats .main_cats .name a{
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
}

.last_by_cats .main_cats ul{
    margin: 5px 15px;
    padding: 0 0 10px 0;
    list-style: none;
}

.last_by_cats .main_cats ul li{
    clear: both;
    height: 40px;
    padding: 5px;
}

.last_by_cats .main_cats ul li:hover{
    background: #eee;
}

.last_by_cats .main_cats ul li a{
    text-decoration: none;
}

.last_by_cats .main_cats .name{
    background: #ccc;
    height: 20px;
    /*width: 100%;*/
    display: block;
    padding: 3px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    overflow: hidden;
}

#main_articles_reclame{
    width: 336px;
    height: 280px;
    padding: 0;
    margin: 10px 5px;
    float: right;
    /*border: 1px solid #ccc;*/
}

#last_articles{
    margin: 10px 0;
    padding: 10px;
    float: left;
    text-align: justify;
    width: 560px;
    min-height: 260px;
    background: #F8F8F8;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

#last_articles ul{
    margin: 0 5px 10px;
}

#last_articles ul li{
    list-style: none;
    margin: 0;
    clear: both;
    padding: 5px;
    height: 40px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#last_articles ul li:hover{
    background: #eee;
}

#last_articles a{
    color: #333;
    font-size: 12px;
    text-decoration: none;
    font-weight: bold;
}

#last_articles a:hover{
    /*color: #297024;*/
}

/*******************************
-------------HEADER-------------
*******************************/
header {
    height: 60px;
    min-width: 960px;
    width: 960px;
    background: #297024 /* Old browsers */
    /* IE9 SVG, needs conditional override of 'filter' to 'none' */
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjIlIiBzdG9wLWNvbG9yPSIjMmI2NzI3IiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iOCUiIHN0b3AtY29sb3I9IiMyYjY3MjciIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI2NCUiIHN0b3AtY29sb3I9IiM1ZGI0MjkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI4NCUiIHN0b3AtY29sb3I9IiM2M2MxMjUiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjNzZkNzJmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
    background: -moz-linear-gradient(top,  #000000 0%, #297024 2%, #297024 8%, #5db429 64%, #63c125 84%, #76d72f 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#000000), color-stop(2%,#297024), color-stop(8%,#297024), color-stop(64%,#5db429), color-stop(84%,#63c125), color-stop(100%,#76d72f)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #000000 0%,#297024 2%,#297024 8%,#5db429 64%,#63c125 84%,#76d72f 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #000000 0%,#297024 2%,#297024 8%,#5db429 64%,#63c125 84%,#76d72f 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #000000 0%,#297024 2%,#297024 8%,#5db429 64%,#63c125 84%,#76d72f 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #000000 0%,#297024 2%,#297024 8%,#5db429 64%,#63c125 84%,#76d72f 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#000000', endColorstr='#76d72f',GradientType=0 ); /* IE6-8 */
}

header a#logo {
    display: block;
    /*float: left;*/
    position: absolute;
    width: 111px;
    height: 70px;
    background: URL(images/logo1.png) center center;
    background-size: 111px 70px;
    margin: 6px 5px;
    text-decoration: none;
}

header #alerts{
    width: 100%;
    top: 15px;
    position: absolute;
    min-width: 960px;
    width: 960px;
}

header #contacts{
    color: #333;
    float: right;
    margin: 5px 120px 0 0;
    font-weight: bold;
}

footer #counters{
    float: left;
    margin-left: 20px;
    margin-top: 10px;
}

footer #contacts{
    width: 70%;
    color: #333;
    margin: 0 auto;
    text-align: center;
}

footer #copyright{
    color: #333;
    margin: 0 120px;
    text-align: center;
}

header #contacts span, footer #contacts span {
    display: inline-block;
    padding-left: 20px;
    margin-right: 5px;
}

#contacts .contact-mail{
    background: url("images/icon_mail.png") no-repeat left center;
    background-size: 18px 18px;
}

#contacts .contact-fax{
    background: url("images/icon_fax.png") no-repeat left center;
    background-size: 18px 18px;
}

#contacts .contact-phone{
    background: url("images/icon_phone.png") no-repeat left center;
    background-size: 18px 18px;
}

#contacts .contact-skype{
    background: url("images/icon_skype.png") no-repeat left center;
    background-size: 18px 18px;
}

#contacts .contact-icq{
    background: url("images/icq_icon.png") no-repeat left center;
    background-size: 18px 18px;
}



/*******************************
-----------CONTENT-------------
*******************************/
* html #wrapper {
    height: 100%;
}

.page-buffer {
    height: 40px;
}

#wrapper, #wrapper_404 {
    min-width: 960px;
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
    height: auto; 
    min-height: 100%;
    margin-bottom: -45px;
}

#wrapper_404 h1{
    margin: 30px auto;
    text-align: center;
    color: firebrick;
    text-shadow: 1px 2px 2px #666;
}

#wrapper_404 .links{
    margin: 0 auto;
    width: 60%;
    text-align: center;
}

#wrapper_404 .links a{
    font-size: 16px;
    color: #333;
    margin-right: 15px;
}

#wrapper_404 .links a:hover{
    font-size: 16px;
    color: #297024;
}

* html .page-wrapper {
    height: 100%;
}

#content{
    margin: 0 auto 15px;
    min-height: 100% !important;
    height: auto;
    text-align: justify;
    /*padding: 15px 5px;*/
}

footer{
    color: red;
    min-width: 960px;
    width: 960px;
    max-width: 960px;
    margin: 0 auto;
    height: 40px;
/*    background: URL(images/footer_bg.png) repeat-x;
    background-position-y: center;*/
    box-sizing: border-box;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    sborder: 1px solid #ccc;
}

h2.title {
    padding-left: 25px;
}

#subCats {
    width: 80%;
    margin: 5px auto;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    /*background: #F8F8F8;*/
    position: relative;
}

#subCats ul {
    list-style: none;
}

#subCats ul li {
    display: inline-block;
    width: 50%;
    float: left;
    padding: 5px 0;
}

#subCats ul li a {
    font-weight: bold;
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

#subCats ul li a:hover {
    /*color: #297024;*/
    text-decoration: underline;
}

#description-main, #site_map{
    background: #F8F8F8;
    border-bottom: 1px solid #F8F8F8;
    border-top: 1px solid #F8F8F8;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

.description, .cat_articles {
    width: 95%;
    margin: 0 auto;
    padding: 10px 20px;
}

.cat_articles.list {
    background: #F8F8F8;
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    padding: 5px 0;
    margin: 10px auto;
}

.cat_articles.list ul{
    margin: 10px;
}

.cat_articles.list ul li {
    list-style: none;
    margin: 5px;
    margin-bottom: 3px;
    padding: 5px;
    height: 50px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.cat_articles.list ul li:hover{
    background: #eee;
}

.cat_articles.list ul li a {
    color: #333;
    text-decoration: none;
    font-size: 14px;
    height: 40px;
}

.cat_articles.list ul li a:hover{
    /*color: #297024;*/
}

.cat_articles.list ul li a .text{
    padding: 15px;
    height: 40px;
}

.cat_articles.grid ul{
    position: relative;
    margin: 15px 0;
}

.cat_articles.grid ul li {
    list-style: none;
    margin: 5px;
    width: 125px;
    height: 125px;
}

.cat_articles.grid ul li .cat_logo_in_list_div img{
    width: 125px;
    height: 125px;
    max-width: 125px;
    max-height: 125px
}

.cat_logo_in_list_div {
    width: 50px;
    height: 50px;
    float: left;
    text-align: center;
    margin-right: 10px;
}

.cat_logo_in_list{
    max-width: 50px;
    max-height: 50px;
    display:inline-block;
    vertical-align: middle;
    text-align: center;
    border: none;
}

#about .contacts {
    /*padding-left: 40px;*/
}

#about .contacts div {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    padding-left: 70px;
    padding-top: 25px;
    height: 40px;
}
#about .contacts .phone{
    background: url(images/icon_phone.png) no-repeat left center;
    background-size: 40px 40px;
}
#about .contacts .fax{
    background: url(images/icon_fax.png) no-repeat left center;
    background-size: 40px 40px;
}
#about .contacts .address{
    background: url(images/icon_home.png) no-repeat left center;
    background-size: 40px 40px;
}
#about .contacts .skype{
    background: url(images/icon_skype.png) no-repeat left center;
    background-size: 40px 40px;
}
#about .contacts .icq{
    background: url(images/icq_icon.png) no-repeat left center;
    background-size: 40px 40px;
}
#about .contacts .email{
    background: url(images/icon_mail.png) no-repeat left center;
    background-size: 40px 40px;
}

/*******************************
----------LANGUAGES-------------
*******************************/
header #languages{
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    height: 30px;
}

header #languages .flag{
    display: block;
    float: left;
    width: 25px;
    height: 25px;
    color: #fff;
    text-decoration: none;
    margin-right: 5px;
}

header #languages .flag:hover, header #languages .flag.active{
    opacity: 0.7;
    margin-top: 3px;
}

header #languages .flag.uk{
    background: url(images/ua.png) top left no-repeat;
    background-size: 25px 25px;
}

header #languages .flag.en{
    background: url(images/en.png) top left no-repeat;
    background-size: 25px 25px;
}

header #languages .flag.ru{
    background: url(images/ru.png) top left no-repeat;
    background-size: 25px 25px;
}

/*******************************
------------Breadcrumps---------
*******************************/
#breadcrumps{
  background: #F8F8F8;
  margin: 0 auto 10px;
  padding: 3px 35px;
  list-style: none;
  width: 92%;
  overflow: hidden;
  border-bottom-left-radius: 55px;
  border-bottom-right-radius: 55px;
  -moz-border-radius-bottomleft: 55px;
  -moz-border-radius-bottomright: 55px;
  -webkit-border-bottom-left-radius: 55px;
  -webkit-border-bottom-right-radius: 55px;
}

#breadcrumps li{
  float: left;
}

#breadcrumps li a{
    color: #000;
}

/*******************************
-------------MENU--------------
*******************************/

div#menu{
    padding: 0 0 0 115px;
    text-align: center;
    font-family: Verdana;
    width: 845px;
    background-color: #111;
    background-image: -moz-linear-gradient(#444, #111); 
    background-image: -webkit-gradient(linear, left top, left bottom, from(#444), to(#111)); 
    background-image: -webkit-linear-gradient(#444, #111); 
    background-image: -o-linear-gradient(#444, #111);
    background-image: -ms-linear-gradient(#444, #111);
    background-image: linear-gradient(#444, #111);
    height: 26px;
    border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
}

ul.topnav {
    list-style: none;
    margin: 0 auto;
    /*float: left;*/
    height: 26px;
}

ul.topnav > li {
    float: left;
    height: 26px;
    display: inline-block;
    margin: 0;	
    padding: 0 5px 0 0;
    position: relative; /*--Declare X and Y axis base for sub navigation--*/
}

ul.topnav li a{
    padding: 3px 5px;
    color: #fff;
    display: block;
    text-decoration: none;
    float: left;
}

ul.topnav > li > a:hover, ul.topnav > li > a.active{
    background: url(images/menu_bg1.png) no-repeat center -4px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

ul.topnav li ul.subnav {
    list-style: none;
    position: absolute; 
    right: 0; 
    top: 26px;
    background: #333;
    margin: 0; padding: 0;
    display: none;
    float: left;
    min-width: 250px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    text-align: left;
    
    -webkit-box-shadow:  0px 0px 5px 1px #5db429;
    box-shadow:  0px 0px 5px 1px #5db429;
    
    /*left: -50px !important;*/
}

ul.topnav li ul.subnav li{
    margin: 0; padding: 0;
    display: block;
    clear: both;
}

html ul.topnav li ul.subnav li a {
    margin: 0;
    width: 100%;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    display: block; 
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

#menu_controlls{
    float: right;
    width: auto;
}

#menu_controlls a{
    width: 14px;
    height: 14px;
    margin: 5px;
    padding: 0;
    float: right;
}

#menu_controlls a i{
    margin-top: -2px !important;
}

#menu_controlls #login_link, #menu_controlls #logout_link {
    
}

#menu_controlls #sitemap_link {
    background: url("images/sitemap.png") no-repeat left top;
    background-size: 14px 14px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
}


.ddsmoothmenu ul{
    z-index:100;
    list-style-type: none;
}

.ddsmoothmenu ul li{
    position: relative;
    display: inline;
    float: left;
    height: 26px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

* html .ddsmoothmenu ul li a{ /*IE6 hack to get sub menu links to behave correctly*/
    display: inline-block;
}

.ddsmoothmenu ul li a:link, .ddsmoothmenu ul li a:visited{
    color: white;
}

.ddsmoothmenu ul li a.selected { /*CSS class that's dynamically added to the currently active menu items' LI A element*/
    background: black !important; 
    color: white;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}

.ddsmoothmenu ul li a:hover{
    background: black; /*background of menu items during onmouseover (hover state)*/
    color: white;
}
	
.ddsmoothmenu ul li ul{
    position: absolute;
    display: none; 
    visibility: hidden;
}

.ddsmoothmenu ul li ul li{
    display: list-item;
    float: none;
}

.ddsmoothmenu ul li ul li ul{
    top: 0;
}

.ddsmoothmenu ul li ul li a{
    min-with: 250px;
    width: auto;
    padding: 5px;
    margin: 0;
    border-top-width: 0;
}

* html .ddsmoothmenu{height: 1%;} /*Holly Hack for IE7 and below*/

.downarrowclass{
    position: absolute;
    top: 4px;
    right: 7px;
}

.rightarrowclass{
    position: absolute;
    top: 8px;
    right: -3px;
}

.ddshadow{ 
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
   /* background-color: #5db429;  /*generally should be just a little lighter than the box-shadow color for CSS3 capable browsers */
}

.toplevelshadow {
    margin: 5px 0 0 5px; /* in NON CSS3 capable browsers gives the offset of the shadow */
    opacity: 0.8; /* shadow opacity mostly for NON CSS3 capable browsers. Doesn't work in IE */
}

.ddcss3support .ddshadow.toplevelshadow {
    margin: 0; 
}

/*******************************
----------MENU RIGHT------------
*******************************/

aside#right{
    width: 230px;
    background: #fff;
    margin-left: -210px;
    position: fixed;
    padding: 10px 0;
    left:0px;
    top: 180px;
    border: 1px solid #297024;
    border-left: none;
    border-top-right-radius: 10px;  
    border-bottom-right-radius: 10px;
    -moz-border-radius-bottomright: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
}

aside#right nav{
    margin: 10px 20px;
}

aside#right nav #hide_right{
    position: absolute;
    right: 5px;
    margin-top: -20px;
    cursor: pointer;
}

aside#right nav ul li{
    /*margin-bottom: 10px;*/ 
}

aside#right nav ul li a{
    color: #333;
}

aside#right a:hover{
    color: #297024;
}

/*******************************
------------forms------------
*******************************/

form {
    margin: 25px auto;
}

.form_label label, form label{
    font-size: 14px;
    margin-left: 35px;
}

.form_edit{
    text-align: center;
    margin-bottom: 10px;
}

.cke{
    margin-bottom: 20px !important;
}

.error_list{
    list-style: none;
    margin: 0;
}

form .buttons {
    margin: 50px auto;
}

form .row{
    margin-bottom: 15px;
}

form .row img{
    max-height: 150px;
    max-width: 150px;
}

.span6.photo{
    text-align: center;
}

#signin_form {
    width: 50%;
    margin: 0 auto;
}

#made_by {
    color: #ccc;
    float: right;
    margin-right: 10px;
    margin-top: 5px;
    float: right;
}

#made_by a{
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}

#made_by:hover{
    color: #ccc;
}

#made_by a:hover{
    color: #3b3b1f;
}


#reclame_form textArea{
    resize: vertical;
    width: 90%;
}

#reclame_form .x{
    font-size: 16px;
}

/*******************************
------------Site_map-----------
*******************************/

#site_map {
    font-size: 14px;

}
#site_map a {
    margin: 0 5px;
}

#site_map a:hover{
    text-decoration: none;
    color: #297024;
}

#site_map ul {
    margin-left: 15px;
}

#site_map li{
    list-style: none;
    padding: 5px;
}

#site_map li.map_category.root > a {
    color: #297024;
    font-size: 20px;
}

#site_map li.map_article a {
    
}

/*******************************
------------helpers------------
*******************************/
.alert{
    width: 50%;
    margin: 0 auto;
}

[class^="icon-"], [class*=" icon-"] {margin-top: 1px;}

#login_link [class^="icon-"], #login_link [class*=" icon-"] { margin-top: 3px; }

.form_edit .input-prepend { width: 92%; }


/*******************************
------------reclame------------
*******************************/
.reclame{
    margin: 0 auto;
}